@page "/"
@page "/join/{SessionId}"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.SignalR.Client
@using QRCoder
@using System.Drawing
@using System.Drawing.Imaging
@using PrizeWinner.Hubs
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Pick-a-Name</PageTitle>
@{
    switch (_currentView)
    {
        case CurrentView.NotJoined:
            <div class="px-4 py-5 my-5 text-center">
                <h1 class="display-5 fw-bold">Pick-a-Name</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">Easily enroll and select winners during your events!</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg px-4 gap-3" @onclick="() => _currentView = CurrentView.Creating">Let's Get Started</button>
                        </div>
                    </div>
                </div>
            </div>


            break;
        case CurrentView.Creating:
            <div class="px-4 py-5 my-5 text-center">
                <h1 class="display-5 fw-bold">Create a new session</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">Create a new session so your group can join.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-2">Session name:</div>
                    <div class="col-lg-2">
                        <input class="" type="text" @bind="_sessionName" />
                    </div>
                </div>
                <div class="col-lg-6 mx-auto my-4">
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg px-4 gap-3" @onclick="CreateSession">Create Session</button>
                        </div>
                    </div>
                </div>
            </div>
            break;
        case CurrentView.Joining:
            <div class="px-4 py-5 my-5 text-center">
                <h3 class="fw-bold">Join a session by entering your name:</h3>
                <div class="col-lg-2 mx-auto">
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <div class="form-group input-group">
                            <input class="form-control" type="text" @bind="_enteredUserName" placeholder="Your name" aria-label="Your name" aria-describedby="basic-addon2" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" @onclick="() => JoinSession(_enteredUserName)">Join Session</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            break;
        case CurrentView.SessionJoined:
            <div class="px-4 py-5 my-5 text-center">
                <div class="col-lg-6 mx-auto">
                    @if (!string.IsNullOrWhiteSpace(_session?.Name))
                    {
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <p class="lead mb-4">Session: @_session?.Name</p>
                        </div>
                    }
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <p class="lead mb-4">You've been entered with the name:</p>
                    </div>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <h1>@_currentUser?.UserName</h1>
                    </div>
                    @if (_winner?.ConnectionId == _hubConnection?.ConnectionId)
                    {
                        <div class="col-lg-6 mx-auto">
                            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                <h1>You are the winner!</h1>
                            </div>
                        </div>
                    }
                </div>
            </div>



            break;
        case CurrentView.SelectingWinner:

            <div class="container">
                <div class="row justify-content-lg-center">
                    <div class="col-lg-auto">
                        <h2>Scan QR code to join.</h2>
                    </div>
                </div>
                <div class="row justify-content-lg-center">
                    <div class="col-lg-auto">
                        <img alt="" src="@_qrCode" width="300" />
                    </div>
                </div>
                <div class="row justify-content-lg-center">
                    <div class="col-lg-auto">
                        <a href="/join/@SessionId">Join Here</a>
                    </div>
                </div>
                <div class="row justify-content-lg-center">
                    <div class="col-lg-auto">
                        <button class="btn btn-primary btn-lg px-4 gap-3" @onclick="SelectWinner" disabled="@(_session.GetEligibleUsers().Count == 0)">Show Winner</button>
                    </div>
                </div>
                <div class="row justify-content-lg-center">
                    <div class="col-lg-auto">
                        <h1>@_winner?.UserName</h1>
                    </div>
                </div>
                <div class="row justify-content-lg-center">
                    <div class="col-lg-auto">
                        <ul class="list-group">
                            @foreach (var user in _session.GetEligibleUsers())
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center@(user.ConnectionId == _winner?.ConnectionId ? " list-group-item-success" : _session.Winners.Any(w => w.ConnectionId == user.ConnectionId) ? " disabled" : "")">@user.UserName</li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="row justify-content-lg-center">
                </div>
            </div>


            break;
    }
}


@code {

    enum CurrentView
    {
        NotJoined,
        Joining,
        Creating,
        SessionJoined,
        SelectingWinner
    }

    private CurrentView _currentView;

    private string? _qrCode;
    private string? _enteredUserName;
    private bool _isHost = false;
    private User? _winner;
    private User? _currentUser;
    private string? _sessionName;

    [Parameter]
    public string? SessionId { get; set; }

    private HubConnection? _hubConnection;
    private Session? _session;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/prizewinnerhub"))
            .Build();

        _hubConnection.On<Session>("SessionStarted", SessionStarted);
        _hubConnection.On<Session>("UserJoined", UserJoined);
        _hubConnection.On<Session, User>("UserLeft", UserLeft);
        _hubConnection.On<Session, User>("WinnerSelected", WinnerSelected);

        await _hubConnection.StartAsync();

        if (string.IsNullOrWhiteSpace(SessionId))
        {
            _isHost = true;
            _currentView = CurrentView.NotJoined;
        }
        else
        {
            _currentView = CurrentView.Joining;
        }
    }

    private void WinnerSelected(Session session, User winner)
    {
        _session = session;
        _winner = winner;

        InvokeAsync(StateHasChanged);
    }

    private void UserLeft(Session session, User user)
    {
        if (_winner?.ConnectionId == user.ConnectionId)
        {
            _winner = null;
        }
        _session = session;
        InvokeAsync(StateHasChanged);
    }

    private void UserJoined(Session session)
    {
        _session = session;

        if (!_isHost)
        {
            _currentView = CurrentView.SessionJoined;
            //This is the current user
            _currentUser = session.Users.SingleOrDefault(u => u.ConnectionId == _hubConnection.ConnectionId);
        }
        InvokeAsync(StateHasChanged);
    }

    private void SessionStarted(Session session)
    {
        _session = session;
        using MemoryStream ms = new();
        QRCodeGenerator qrCodeGenerate = new();
        var url = Navigation.ToAbsoluteUri($"/join/{session.SessionId}").ToString();
        QRCodeData qrCodeData = qrCodeGenerate.CreateQrCode(url, QRCodeGenerator.ECCLevel.Q);
        QRCode qrCode = new(qrCodeData);
        using Bitmap qrBitMap = qrCode.GetGraphic(20);
        qrBitMap.Save(ms, ImageFormat.Png);
        string base64 = Convert.ToBase64String(ms.ToArray());
        _qrCode = $"data:image/png;base64,{base64}";


        SessionId = session.SessionId;
        _currentView = CurrentView.SelectingWinner;
        InvokeAsync(StateHasChanged);
    }

    private async Task CreateSession()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.SendAsync("CreateSession", _sessionName);
        }
    }

    private async Task JoinSession(string sessionId)
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.SendAsync("JoinSession", SessionId, _enteredUserName);
        }
    }

    public bool IsConnected =>
        _hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }

    private async Task SelectWinner()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.SendAsync("SelectWinner");
        }
    }
}